{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} {% endblock %}</h1>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.prod.js"></script>

{% block content %}

{% with mensajes = get_flashed_messages() %}
{% if mensajes %}
{% for m in mensajes %}
{% if m == 'Formulario de inicio' %}

<script>
    Swal.fire ({
        position: 'center',
        title: '{{m}}',
        html: `<input type="text" id="e-mail" class="swal2-input" placeholder="E-mail">
        <input type="password" id="password" class="swal2-input" placeholder="Password">`,

        showConfirmButton: true,
        confirmButtonColor: '#3E60E9',
        confirmButtonAriaLabel: 'Iniciar sesion',
        confirmButtonText: 'Iniciar sesion',
    
        allowEscapeKey: false,
        allowEnterKey: false,
        stopKeydownPropagation: false,
    
    preConfirm: () => {
        const email = Swal.getPopup().querySelector('#e-mail').value
        const password = Swal.getPopup().querySelector('#password').value
        if (!email || !password) {
            Swal.showValidationMessage('Por favor complete los campos')
        }
        return {email: email, password: password}
    }

}).then((result) => {
        $.ajax({
            method: 'POST',
            url: '/iniciar_sesion',
            data: {
                "email": result.value.email,
                "password": result.value.password
            },
            success: function (response) {
                if (response != 'Los datos ingresados no son correctos') {
                    window.location.href = '/agenda';
                } else {
                    window.location.href = '/';
                }
            }
        });
    })
</script>

{% elif m == 'Los datos ingresados no son correctos' %}

<script>
    Swal.fire ({
        position: 'center',
        icon: 'error',
        text: "{{m}}",
            
        showConfirmButton: true,
        confirmButtonColor: '#3E60E9',
        confirmButtonAriaLabel: 'Ok',
                
        allowOutsideClick: false,
        allowEscapeKey: false,
        allowEnterKey: false,
        stopKeydownPropagation: false,
    })
</script>

{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

<style>
#cabecera {
    background-color: #00679A;
    color: white;
}
#oscuro{
    background-color: #003658;
    color: white;
}
#claro{
    background-color: #0E4B6A;
    color: white;
}
/* ---------------- LOADING ---------------- */
    #contenedor_carga{
        background-color: rgba(250, 250, 250, 0.9);
        height: 100%;
        width: 100%;
        position: fixed;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        z-index: 10000;
        visibility: hidden;
        opacity: 0;
    }
    
    #carga{
        border: 15px solid #ccc;
        border-top-color: #2c75dc;
        border-top-style: grove;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 100;
        margin: auto;
        -webkit-animation: girar 1.5s linear infinite;
        -o-animation: girar 1.5s linear infinite;
        animation: girar 1.5s linear infinite;
    }
    
    @keyframes girar {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
    
</style>

<div id="contenedor_carga">
    <div id="carga"></div>
</div>

<body>
    <!-- <div class="container">

        <div id="boton-select">
            <b> <label>Filtrar tareas:</label> </b>
            <select name="filtrartarea" id="filtrartarea" onchange="loading(this)" style="color:black">
                <option value="1">Total de tareas</option>
                <option value="2">Tareas ingresadas</option>
                <option value="3">Tareas en desarrollo</option>
                <option value="4">Tareas completas</option>
                <option value="5">Tareas incompletas</option>
            </select>
        </div>
        <div id="tabla-colores">    
            <table id="tabla-colores" class="table-striped bg-white table-sm center">
                <tr>
                    <td>Ingresada
                        <p style="background: #E6E3E3; border: 2px solid #E6E3E3;  padding: 15px; border-radius: 6px;"></p>
                    </td>
                    <td>En desarrollo 
                        <p style="background: #E4F416; border: 2px solid #E4F416;  padding: 15px; border-radius: 6px;"></p>
                    </td>
                    <td>Completa
                        <p style="background: #43E72F; border: 2px solid #43E72F;  padding: 15px; border-radius: 6px;"></p>
                    </td>
                    <td>Incompleta
                        <p style="background: #E90F0F; border: 2px solid #E90F0F;  padding: 15px; border-radius: 6px;"></p>
                    </td>
                </tr>
            </table>
        </div>  

    </div> -->
    <div class="container" id="contenedor">
        <br>
        <div class="abs-center col-xl-2" id="form-rec">
            <div class="form-group">
                <select name="opcion" id="opcion" class="form-control" style="color:black" onchange="cargar_oviedo(this)">
                    <option value="">Ministro Mauricio Oviedo</option>
                    <option value="01">M. Oviedo (Enero)</option>
                    <option value="02">M. Oviedo (Febrero)</option>
                    <option value="03">M. Oviedo (Marzo)</option>
                    <option value="04">M. Oviedo (Abril)</option>
                    <option value="05">M. Oviedo (Mayo)</option>
                    <option value="06">M. Oviedo (Junio)</option>
                    <option value="07">M. Oviedo (Julio)</option>
                    <option value="08">M. Oviedo (Agosto)</option>
                    <option value="09">M. Oviedo (Septiembre)</option>
                    <option value="10">M. Oviedo (Octubre)</option>
                    <option value="11">M. Oviedo (Noviembre)</option>
                    <option value="12">M. Oviedo (Diciembre)</option>
                </select>
            </div>
            <div class="form-group">
                <select name="estado" id="estado" class="form-control" style="color:black" onchange="cargar_alvarez(this)">
                    <option value="">Ministra Sandra Alvarez</option>
                    <option value="01">M. Alvarez (Enero)</option>
                    <option value="02">M. Alvarez (Febrero)</option>
                    <option value="03">M. Alvarez (Marzo)</option>
                    <option value="04">M. Alvarez (Abril)</option>
                    <option value="05">M. Alvarez (Mayo)</option>
                    <option value="06">M. Alvarez (Junio)</option>
                    <option value="07">M. Alvarez (Julio)</option>
                    <option value="08">M. Alvarez (Agosto)</option>
                    <option value="09">M. Alvarez (Septiembre)</option>
                    <option value="10">M. Alvarez (Octubre)</option>
                    <option value="11">M. Alvarez (Noviembre)</option>
                    <option value="12">M. Alvarez (Diciembre)</option>
                </select>
            </div>
        </div>
    </div>


    <br><br><br>
    
    <div id="tabla-tareas" class="container">
        <table id="tabla_tareas" class="table table-striped table-bordered bg-white table-sm">
            <thead class="thead-primary">
                <tr class="thead-primary" id="cabecera">
                    <th>Estado</th>
                    <th>Fecha - Hora</th>
                    <th>Cargo</th>
                    <th>Nombre</th>
                    <th>Actividad</th>
                    <th>Lugar</th>
                    <th>Participantes</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody id="cuerpo_tabla">
                {% for agenda in data %}
                <tr>
                    <td id="oscuro">{{agenda.estado}}</td>
                    <td id="claro">{{agenda.fecha}} ( {{agenda.hora}} )</td>
                    <td id="oscuro">{{agenda.cargo}}</td>
                    <td id="claro">{{agenda.nombre}}</td>
                    <td id="oscuro">{{agenda.actividad}}</td>
                    <td id="claro">{{agenda.lugar}}</td>
                    <td id="oscuro">{{agenda.participantes}}</td>
                    <td id="claro">{{agenda.detalles}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> <br>
    </div>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

function cargar_oviedo(opcion) {
    if (opcion.value != "") {
        $.ajax({
            method: 'POST',
            url: "/filtro_oviedo",
            data: {"opcion": opcion.value},
            success: function(result) {
                $("#cuerpo_tabla").html("");
                for (var i = 0; i< result.length; i++) {
                
                    var tr = `<tr>
                        <td id="oscuro">`+ result[i].estado +`</td>
                        <td id="claro">`+ result[i].fecha + " ( " + (result[i].hora) + " ) " + `</td>
                        <td id="oscuro">`+ result[i].cargo +`</td>
                        <td id="claro">`+ result[i].nombre +`</td>
                        <td id="oscuro">`+ result[i].actividad +`</td>     
                        <td id="claro">`+ result[i].lugar +`</td>
                        <td id="oscuro">`+ result[i].participantes +`</td>
                        <td id="claro">`+ result[i].detalles +`</td>
                        </tr>`;
                        $("#cuerpo_tabla").append(tr)
                }
            }
        })
    }
}

function cargar_alvarez(opcion){
    if (opcion.value != "") {
        $.ajax({
            method: 'POST',
            url: "/filtro_alvarez",
            data: {"opcion": opcion.value},
            success: function(result) {
                $("#cuerpo_tabla").html("");
                for (var i = 0; i< result.length; i++) {
                    var tr = `<tr>
                        <td id="oscuro">`+ result[i].estado +`</td>
                        <td id="claro">`+ result[i].fecha + " ( " + (result[i].hora) + " ) " +`</td>
                        <td id="oscuro">`+ result[i].cargo +`</td>
                        <td id="claro">`+ result[i].nombre +`</td>
                        <td id="oscuro">`+ result[i].actividad +`</td>     
                        <td id="claro">`+ result[i].lugar +`</td>
                        <td id="oscuro">`+ result[i].participantes +`</td>
                        <td id="claro">`+ result[i].detalles +`</td>
                        </tr>`;
                        $("#cuerpo_tabla").append(tr)
                }
            }
        })
    }    
}
</script>

</body>  

{% endblock %}